body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 80px 40px 80px;
	text-align: justify;
	font-size: 16px;
	max-width:1200px;
}
header {
	font-size: 48px;
	font-weight: 700;
	text-align: center;
}
.flex {
	display: flex;
}	
.flex-1 {
	flex: 1;
	margin: 20px;
	min-height: 100px; 
}
.bordered {
	border: 1px solid #efefef;
	border-radius: 10px;
}

.round {
	border-radius: 50%;
	border: 5px solid #888888;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:150px;
	height:150px;
	text-align: center;
	vertical-align: middle;
}
.icon {
	width: 100%;
	line-height: 150px;
	font-weight: 600;
	font-size: 72px;
	color: #888888;
}
.background-grey {
	background-color: #efefef;
}
.margin-bottom-150 {
	margin-bottom:150px;
}
.padding-left-right-20 {
	padding-left:20px;
	padding-right:20px;
}
i {
	font-size: 72px;
}
.content {
	max-width: 1000px;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.bound {
	padding: 20%;
}