body {
	padding: 20px 40px;
	text-align: justify;
}
header {
	font-size: 72px;
	font-weight: 700;
	text-align: center;
}
.flex {
	display: flex;
}	
.padding-20px {
	padding: 0px 20px 20px 20px;
}

.padding-left-20px {
	padding-left: 20px
}

.bordered {
	border: 0px solid blue;
	border-radius: 10px;
}
.background-grey {
	background-color: #ededed9e;
}
.col-1 {
	flex: 1;
	margin: 0 20px;
}
.col-2 {
	flex:2;
	margin:0 20px;
}
img {
	width: 100%;
	margin-top:16px
}