body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 80px 40px 80px;
	text-align: justify;
	font-size: 16px;
	max-width:1200px;
}
header {
	font-size: 48px;
	font-weight: 700;
	text-align: center;
}
.flex {
	display: flex;
}	
.flex-1 {
	flex: 1;
	margin: 20px;
	min-height: 100px; 
}
.bordered {
	border: 1px solid #efefef;
	border-radius: 10px;
}
img {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
.float-left {
	float: left;
	width: 30%;
	margin-right: 30px;
	margin-bottom: 20px;
}
.round {
	border-radius: 50%;
	min-height: 50px;
	min-width: 50px;
	display: inline-block;
	position: relative;
	margin-right: 15px;
}
.icon {
	width: 100%;
	position: absolute;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	font-weight: 600;
	font-size: 20px;
}
.background-grey {
	background-color: #bbbbbb;
}
a {
	color: white;
}
.margin-bottom-40 {
	margin-bottom:40px;
}
.padding-left-right-20 {
	padding-left:20px;
	padding-right:20px;
}